@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  padding: 0;
  margin: 0;
  /* background-image: url(); */
}

.EdgeColour {
  background-color: rgb(22, 56, 230)
}

.TaskBarGradient {
  background: linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%);
}

.TaskBarGradient::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  opacity: 1;
  background: linear-gradient(to right, rgb(22, 56, 230) 0%, transparent 100%);
  top: 0px;
  bottom: 0px;
  width: 15px;
}

.TaskBarGradient::after {
  content: "";
  opacity: 1;
  display: block;
  position: absolute;
  right: 0px;
  background: linear-gradient(to left, rgb(22, 56, 230) 0%, transparent 100%);
  top: 0px;
  bottom: 0px;
  width: 15px;
}

.StartButton:active {
  filter: brightness(0.85)
}